[Unit]
Description=Send an MQTT message on login and logout

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=~PATH_ROOT~/bin/Release/net10.0/Orchid.UserSessionHook start
ExecStop=~PATH_ROOT~/bin/Release/net10.0/Orchid.UserSessionHook stop

[Install]
WantedBy=default.target
