[Unit]
Description=Send an MQTT message on login and logout

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/anthony/devel/orchid.usersessionhook/bin/Release/net9.0/Orchid.UserSessionHook start
ExecStop=/home/anthony/devel/orchid.usersessionhook/bin/Release/net9.0/Orchid.UserSessionHook stop

[Install]
WantedBy=default.target
